.sec-1{
    margin: 40px 0;
}
.sec-1-h{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px 0;
}
.sec-1-h h1{
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 700;
    color: #001931;
}
.sec-1-h p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
.sec-1-card{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 0;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding: 50px 30px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
}
.card img{
    padding: 15px;
    background: #F95555;
    border-radius: 50%;
}
.card h1{
    font-weight: 600;
    font-size: 24;
    color: #001931;
}
.card p{
    color: #627382;
    line-height: 20px;
}

/* section--2 css */

.sec-2{
    width: 80%;
    margin: 0 auto 60px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;

}
.sec-2-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.sec-2-info div{
    display: flex;
    gap: 7px;
}
.sec-2-info div p{
    color: #001931;
}
.sec-2-info h1{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
}
.sec-2-info h3{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}
.sec-2-info h4{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 0;
}