*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* universal css */

.btn{
   padding: 12px 16px; 
   border: none;
   border-radius: 4px;
   font-weight: 600;
   font-size: 16px;
   color: white;
   background: #469165;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 13px;
   transition: .2s;
}
.btn:hover{
 background: #266b43;  
}

/* main css */

/* navber css */
nav{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    padding: 5px 0;
}
.nav-meno{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-meno li a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 16px;
}
.nav-meno li a:hover{
    text-decoration: underline;
    color: #469165;
}
