*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* universal css */
.inter{
  font-family: "Inter", sans-serif;
}

.btn{
   padding: 12px 16px; 
   border: none;
   border-radius: 4px;
   font-weight: 600;
   font-size: 16px;
   color: white;
   background: #469165;
   cursor: pointer;
   

}
.btn:hover{
    background: white;
    color: #469165;
    border: 2px solid #469165;
    
}

/* main css */
nav{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    padding: 10px 0;
}
.nav-meno{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-meno li a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 16px;
}
.nav-meno li a:hover{
    text-decoration: underline;
    color: #469165;
}